* {


  box-sizing: border-box;
}

body {
  display: grid;
  justify-content: center;
  align-content: center;
  display: grid;
  height: 100vh;


  background-color: aliceblue;
}

h1 {
  margin: auto;
  padding: 2%;
  text-align: center;
  visibility: visible;
}

.button {

  font-family: 'arial';
  padding: 1rem 1.5rem;
  background-color: #17a2b8;
  border-color: #17a2b8;
  border-radius: 10%;
  color: #fff;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 600;
}

.buttons {

  visibility: visible;
  display: grid;
  grid-template-columns: repeat(3, 1fr);

}


.grid {
  perspective: 1000px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  border: 1px solid rgba(146, 15, 146, 0.925);
  width: 650px;
  height: 650px;
  justify-content: center;




}

#game {
  visibility: hidden;
}

.card {

  margin: 5px;
  background-color: red;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  height: 200px;
  width: 150px;
  position: relative;
  transition: all .4s linear;
  transform-style: preserve-3d;
  margin: 5px;


}



.card,
.back,
.front {
  height: 150px;
  width: 130px;
}

.back,
.front {
  position: absolute;
  backface-visibility: hidden;
}

.front {
  z-index: 2;
  background: purple no-repeat center center / contain;
}

.back {
  transform: rotateY(180deg);
  background-color: yellow;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

.selected {
  transform: rotateY(180deg);
}

.match .front {
  background: #6589F9 !important;
}


.show {
  visibility: visible;
}

.hidden {
  visibility: hidden;
}