* {
  box-sizing: border-box;
}

html {
  display: table;
  margin: auto;

}

body {
  margin: 6px, auto;
  text-align: center;
  font-family: 'Raleway', sans-serif;

  display: grid;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;

  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;

}

#container {
  padding: 2rem;
  background-color: lavender;

}

h2 {

  font-weight: 200;
}

h1 {
  color: black;
  font-size: 3rem;
  margin: 0px;
}

i {
  font-size: 5vw;
  margin: 0px;
}

button {

  justify-items: center;
  align-items: center;
  padding: 1rem 1.5rem;
  display: inline;
  background-color: lavenderblush;
  border-radius: 10%;
  color: #333333;
  cursor: pointer;
  font-size: 1vw;
  font-weight: 500;
  padding: 1rem;
  margin: 1rem;
}


#easy {
  display: none;

  perspective: 1000px;
  justify-items: center;
  align-items: center;
  position: fixed;
  grid-gap: 1px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
}

#normal {
  display: none;
  perspective: 1000px;
  justify-items: center;
  align-items: center;
  position: fixed;
  grid-gap: 1px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
}

#hard {
  display: none;
  perspective: 1000px;
  justify-items: center;
  align-items: center;
  position: fixed;
  grid-gap: 1px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;

}


#win {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;

  padding: 1vw;
  background-color: white;
  color: purple;
  font-size: 2vw;
  font-weight: bold;
  animation: fadeIn 0.4s forwards linear;
}


.cards {


  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  height: 65%;
  width: 55%;
  border: 2px solid white;
  border-radius: 0.5rem;
  background-color: whitesmoke;
  box-shadow: -5px 5px 10px #333333;
}

.back {

  height: 65%;
  width: 55%;
  background-image:
    repeating-linear-gradient(45deg,
      purple,
      purple 10px,
      white 10px,
      white 20px
      /* determines size */
    );

  border: 3px solid black;
  border-radius: 0.5rem;
  color: rgba(0, 0, 0, 0);
  box-shadow: -6px 6px 11px #333333;
}

.back:hover {

  transform: scale(1.05, 1.05);
  box-shadow: -5px 5px 10px #333333;
}

.match {
  opacity: 0.1;

  transition: opacity 0.75s ease-in-out;
}

.flip {

  animation: Flip 0.275s forwards linear;
}

.unflip {

  animation: cardUnFlip 0.275s forwards linear;
}

@keyframes Flip {
  0% {

    transform: rotateZ(0deg) rotateY(180deg);
  }

  50% {

    transform: rotateZ(-10deg) rotateY(90deg);
  }

  100% {

    transform: rotateZ(0deg) rotateY(0deg);
  }
}


@keyframes cardUnFlip {
  0% {

    transform: rotateZ(0deg) rotateY(0deg);
  }

  50% {

    transform: rotateZ(-10deg) rotateY(90deg);
  }

  100% {

    transform: rotateZ(0deg) rotateY(180deg);
  }
}




@keyframes fadeIn {
  0% {
    opacity: 0;

    transform: translateY(40px);
  }

  100% {
    opacity: 1;

    transform: translateY(0);
  }
}


@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.spin {
  animation: spin 500ms forwards;
}

@keyframes spin {
  0% {
    transform: rotateZ(0);
  }

  100% {
    transform: rotateZ(360deg);
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;

    @media (max-width: 600px) {

      #easy,
      #normal,
      #hard {

        display: none;
        perspective: 1000px;
        justify-items: center;
        align-items: center;
        position: fixed;
        grid-gap: 2px;
        grid-template-columns: repeat(1, 1fr 1fr 1fr);

        width: 450px;
        height: 450px;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        margin: 2px;
      }

      .container {
        flex-direction: column;
        align-items: center;

      }

      h2 {

        font-weight: 400;
      }

      h1 {
        color: violet;
        font-size: 3rem;
        margin: 0px;
      }

      i {
        font-size: 2rem;
        margin: 0px;
      }

      button {


        font-size: 5px;

      }

      #win {
        display: none;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        flex-direction: column;
        -webkit-box-align: center;
        align-items: center;
        -webkit-box-pack: center;
        justify-content: center;
        position: fixed;
        bottom: 25%;
        right: 0;
        width: 100%;
        height: 40%;
        background-color: white;
        color: purple;
        font-size: 1rem;
        font-weight: bold;
        animation: fadeIn 0.4s forwards linear;

      }

      50% {
        background-position: 100% 50%;
      }

      100% {
        background-position: 0% 50%;

        .back {

          height: 120px;
          width: 100px;
          background-image:
            repeating-linear-gradient(45deg,
              purple,
              purple 10px,
              white 10px,
              white 20px
              /* determines size */
            );
          background-size: 50px 50px;
          border: 2px solid black;
          border-radius: 0.5rem;
          color: rgba(0, 0, 0, 0);
          box-shadow: -5px 5px 10px #333333;

        }
      }
